@import '../../styles/variables.scss';
@import 'styles/mixins.scss';

.game {
	margin-top: 50px;
	@include flex;
	h1 {
		font-size: 5em;
		margin-bottom: 25px;
	}
	button {
		margin-bottom: 30px;
		border: solid 1px white;
		padding: 8px;
		border-radius: 5px;
		transition: all 0.3s ease-in-out;
	}
}
